@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <input id="Altura" name="Altura" placeholder="Altura (m)" />
    <input id="Peso" name="Peso" placeholder="Peso (kg)" />
    <input type="submit" onclick="myFunction()" />
        
</div>
<p id="p01"></p>
<p id="p02"></p>
<p id="p03"></p>
